@charset "UTF-8";
/* CSS Document */
/*styling start for kontaktformular*/

* { /*alt på siden bliver påvirket*/
	box-sizing: border-box; /*Padding og border inkluderes i bredde og højde*/
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 5em 0; /*Resetting af margin i hele bodyen + tilføjer luft under kontaktformular*/
}

h1, h2, h3, h4, h5, h6{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

h1{
	text-transform: none; /*Teksten transformeres til udelukkende at være store bogstaver*/
}

.kontakt-tekst{
	font-weight: 200;
	font-size: 22px;
}
                                        /*FORSIDE.html*/

/*navigation*/
.logo-wrapper {
    display: flex;               /* logo og navn på samme linje */
    align-items: center;         
    gap: 0.5em;                  /* afstand mellem logo og navn */
}

.logo{
    width: 120px; 
    max-width: 100px;
    height: auto;
    display: block;
}

/*web navn ved siden af logo*/
.company-name {
    font-size: 2.3em;            /* størrelsen på navnet */
    font-weight: 600;            /*skrift tykelse*/
    font-family: 'Manrope', sans-serif;
    color: #000;
}

/* banner og hamburger */
nav{
    background-color: #ffffff;
    padding: 1em;
}
nav ul{
    padding: 0;
    list-style-type: none; /*fjærner prikkerne fra åben hamburger*/
}
header {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    position: relative; /* for dropdown menu */
      z-index: 1000;
}
nav li{
    padding: 0.8em;
}
nav li a{
    color: #000000;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Manrope', serif;
}
    header > nav {
        display: none; /* skjuler nav i mobil versionen */
      }

    .show {
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: rgb(255, 255, 255);
        width: 100%;
    }
    
    button#bars {
    background-color: transparent;
    border: none;
    font-size: 40px;
}

/* gør den responsiv */
@media screen and (min-width:769px) {  
}

img{
    width:100%;
}
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
    width: 100%; /* gør det smallere end hele siden */
}

/*banner main bilede*/
.banner-img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
    display: block;
    position: relative; 
    z-index: 1; /* bruges til at billed kan ligge bag andre elementer */
}
.banner-wrapper {
  position: relative;
  width: 100%; /* vigtige hvis der er knap under */
}
/* tekst på banner billede */
.banner-text {          
  position: absolute;
  top: 50px;
  left: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  z-index: 2;
}
.playfair {
  font-family: "Playfair Display", serif;
}
.manrope {
  font-family: "Manrope", sans-serif;
}
.button-wrapper {
    width: 100%;
    text-align: left;
    margin: 20px 0 0 35px; /* lidt afstand og ses under teksten */
}
/* knap under tekst på banner */
.hero-button {
   margin-top: 20px;
    padding: 12px 28px;
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 25px;
    font-size: 30px;
    font-family: "Manrope", sans-serif;
    cursor: pointer; /*en effekt hvor mussen bliver til en lille hånd når man går over knapen*/
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); /*skykke efekt*/
    z-index: 3;
    position: relative; /*flytter elementer lidt*/
    top: -25px;
}
.hero-button:hover {
    background-color: #F5F2EA; /*bruges til at skifte farve for knap når man trykker på den*/
}
/*giver billed responsivitet så den fylder*/
.hero {
    background-image: url('../img/Main foto .jpeg');
    background-size: cover;       /* sørger for at billedet fylder hele området */
    background-position: center;  /* holder billedet centreret */
    height: 100vh;                /* fylder hele skærmen */
}
/*knap om ModLyset*/
.button-wrapper {
    max-width: 1200px;
    text-align: left; /* den centrerer knappen horisontalt */
    margin: 2em auto 2em auto;      /* lidt afstand over og under */
}
/* Knap-styling */
.btn {
    background-color: #CFE6EF;
    color: #000000;
    padding: 0.8em 3em;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    transition: background-color 0.3s;  /* gør ændringer flydende og flot */
    font-family: 'Manrope', serif;
}
/* wrapper- opdeler siden i tekst og billede */
.text1-wrapper-split {
    display: flex;
    flex-direction: row; /* gør at elementerne i en flexbox container bliver lagt vandret  */
    align-items: flex-start;
    justify-content: space-between;
    gap: 2em;
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
}
/* tekst på venstre side */
.text1-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 300px;
}
/* Knap i tekstområde */
.text1-text .btn {
    align-self: flex-start;
}
.btn:hover {
    background-color: #F5F2EA;
}
/* wrapper til tekstboksen */
.text1-wrapper {
    max-width: 500px;
    width: 90%;
    margin-left: 20px;
    padding: 0 20px;
}
/* overskrift */
.text1-wrapper h1.main-heading,
.text1-text h1.main-heading {
    font-family: 'Manrope', sans-serif;
    font-size: 3em;
    color: black;
    text-align: left;
    margin: 0 0 1em 0;
}
/* highlight del i overskrift */
.text1-wrapper h1.main-heading .highlight,
.text1-text h1.main-heading .highlight {
    font-family: 'Playfair Display', serif;
    color: #000;
    font-weight: 400;
    font-size: 1em;
}
/* brødtekst */
.text1-wrapper p,
.text1-text p {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6em;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    margin: 0.5em 0;
}

/* responsiv i mobil */
@media (max-width: 768px) {
    .text1-wrapper-split {
        flex-direction: column;
        gap: 1em;
    }
    
    .text1-text .btn {
        align-self: flex-start;
    }
    .button-wrapper {
         margin: 2em 0 2em 35px;      /* lidt afstand over og under */
    }
}
/* tabel billed */
.text1-image {
    flex: 1;                 /* for at billed fylder højre side */
    min-width: 300px;   
  }
.text1-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* undertekst under tabel billed */
.text-under-img h2 {
    font-size: 1.2em; 
    text-align: left;
    font-style: italic;       /* gør teksten kursiv */
    font-weight: 300;
}
/* Responsiv: mobil */
@media (max-width: 768px) {
    .text1-wrapper-split {
        flex-direction: column; 
        gap: 1em;
    }

    .text1-image img {
        width: 100%;
        height: auto;
    }
}
 /* tekst over billedet:find support */
.text-section {
  flex: 1;
  text-align: center;
}
.text-section h3 {
  font-size: 2em
}
.text-section p {
  font-size: 1.6em
}
 /* billedet på forsiden: find support */
.text-wrapper {
  display: flex;
  justify-content: center; /* tekst til venstre, billede til højre */
  align-items: center;          /* billedet i bunden */
  width: 40%;
  margin: 4em auto;
  gap: 2em;
  position: relative;
  margin-bottom: 2em;
}
@media (max-width: 768px) {
  .text-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .support {
    width: 500px;
    margin-top: 1.5em;
  }

  .text-section {
    text-align: center;
  }
}
/* --footer-- */
footer {
    background-color: #ffffff;
    color: #000;
    width: 100%;
    padding: 2em 1em;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}
footer hr {
    border: none;
    border-top: 1px solid #000;
    margin-bottom: 2em;
}
/* 1 sektioner i footer */
.footer-row {
    display: flex;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 2em;
}
.footer-row h4 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.footer-row p {
    font-weight: 300;
    margin: 0.2em 0;
}
/* 2 sektion i footer: logo og sociale medier */
.footer-middle {
    text-align: center;
    margin-bottom: 2em;
}
.footer-icon {
    width: 100px;
    margin-bottom: 0.3em;
}
.footer-brand {
    font-size: 1.5em;
    font-weight: 600;
}
/* sociale medier ikoner */
.social-icons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.social-icons i {
    font-size: 35px;
    color: #000;
    transition: 0.3s;
}
.social-icons i:hover {
    opacity: 0.6;
}
/* Nederste tekst i footer */
.bottom-footer p {
    font-size: 0.9em;
    margin-top: 2em;
}
/* Mobil */
@media (max-width: 768px) {
    .footer-icon {
        width: 70px;
    }

    .social-icons i {
        font-size: 28px;
    }

    .footer-row {
        flex-direction: column;
        text-align: center;
        gap: 2em;
    }
}

                                         /* UNDERSIDE.html  */

 /* selvtest tekst i starten af undersiden */
.text-section {
  flex: 1;
  text-align: center;
}
.selvtest {
    font-size: 2em;
    color: #000000;
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Manrope',sans-serif;
}
/* teksttype opdeling  */
.selvtest .highlight {
    color: #000000;
        font-weight: 400;
  font-family: 'Playfair Display', serif; 
}
.selvtest-text{
font-size: 1.6em;
    color: #000000;
    text-align: center;
    margin-bottom: 1em;
        font-family: 'Manrope',sans-serif;
}
/* galleri billeder fra selvtekst struktur */
.galleri-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    margin: 2em 3em;
}
.galleri-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galleri {
    width: 100%;
    aspect-ratio: 1/1; /*elemnted skal være helt kvadratisk*/
    object-fit: cover;
    border-radius: 12px;
}
/* knap styling */
.galleri-knap {
    margin-top: 0.7em;
    padding: 0.6em 1em;
    font-size: 1em;
    border: none;
    border-radius: 25px;
    background-color: #CFE6EF;
    color: #000000;
    cursor: pointer;
    transition: 0.3s;
}
.galleri-knap:hover {
    opacity: 0.8;
    background-color: #F5F2EA;
}
@media (max-width: 768px) {
    .galleri-item {
        width: 45%;
    }
}
/* container for kortene som er knaperne om positive vaner*/
.card-container {
    max-width: 900px;             
    margin: 0 auto;               
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 2 kort ved siden af hinanden */
    gap: 20px;                      
    padding: 2em 1em;
}
/* på mobil: 1 kort pr række */
@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}
/* Kort styling */
.card {
    border: 1.5px solid #ccc;
    padding: 18px;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.2s;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:hover {
    border-color: #888;
}
.card h3 {
    margin: 0 0 6px 0;
    font-size: 20px;
    font-family: 'Manrope',sans-serif;
    text-align: left;
}
.card p {
    margin: 0;
    font-size: 14px;
    color: #555;
}
/* sidste farvet kort */
.colored {
    background: #CFE6EF;
    border-color: #ccc;
}


                                          /*KONTAKTFORMULAR.html*/

input[type=text], input[type=email],input[type=tel], select, textarea { /*vælger de emner/typer som skal berøres af nedenstående css*/
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5em;
  margin-bottom: 1em;

}
/*styling af dropdown*/
select{
	padding: 0.675em 6em 0.675em 1em;
	appearance: none;
	-webkit-appearance: none; /*appearance fjerne default udseende på dropdown*/
	cursor: pointer;
}

.custom-select {
	position: relative;
  }

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 48%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 63%;
}

input[type=submit] {
  background-color: #4B555A;;
  color: white;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 4px;
  width:100%;
  margin-top: 1em;
  font-size: 18px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #000000;
  transition: 0.5s;
}

input[type=checkbox]{
	margin: 0.8em 0;
	cursor: pointer;
}

.checkbox{ /*margin på fieldset med class checkbox*/
	margin: 0.8em 0;
}

input[type=radio]{
	cursor: pointer;
}

fieldset{
	border-color: #4B555A;
	border-style: dotted; /* Kontrollerer stregen rundt om fieldset - kan fjernes ved at bruge 'hidden'*/
}

::placeholder{ /*Tager fat i placeholder-tekst i inputfeltet*/
	color:#333;
}

.kontaktform {
  border-radius: 5px;
  background-color: #CFE6EF;
  padding: 1.3em;
  width: 50%;
  margin: 0 auto; /*Centrerer elementet på siden*/
}

/*Andre style elementer*/

.visually-hidden{ /*WCAG defineret class som fjerner element fra skærm, men som stadig kan læses af skærmlæseren*/
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/*responsiv tilpasning*/

@media only screen and (max-width: 850px){
	main{
		width: 100% !important;
	}
	body{
		margin: 0;
	}
	header{
		margin-bottom: 0;
	}
}
/* --- KUN styling for kontakt-siden --- */
.kontakt-side h1,
.kontakt-side h2,
.kontakt-side h3 {
    font-family: 'Playfair Display', serif;
}

.kontakt-side p,
.kontakt-side label,
.kontakt-side input,
.kontakt-side textarea,
.kontakt-side select {
    font-family: 'Manrope', sans-serif;
}




